.card-pricing___container{
	position: absolute;
	bottom: 0px;
	left: 0;

	display: flex;
	flex-direction: column;
	width: 100%;
	height: 70px;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 10px;
	color: antiquewhite;
	font-family: Calibri;
}

.card-pricing___title{
	margin-bottom: 3px;
}

.card-pricing___value{
	display: flex;
	justify-content: space-between;
}
.card-pricing___value___console{
	display: flex;
	flex-direction: row;
}
.card-pricing___value___console > span{
	font-weight: bolder;
	color: aqua;
	margin-right: 10px;
}
