<div class="home___container">

	<app-card gameCover="assets/bt-1.jpg"
	gameLabel="EXCLUSIVE"
	gameType="DIGITAL | PS4"
	gamePrice="R$ 129,99"

	></app-card>
	<app-card gameCover="assets/bt-4.jpg"
	gameLabel="BEST OF YEAR"
	gameType="DISC | PS5"
	gamePrice="R$ 159,99"
	></app-card>
	<app-card gameCover="assets/ac-cover.jpg"
	gameLabel="BEST OF YEAR"
	gameType="DIGITAL | PS5"
	gamePrice="R$ 359,99"
	></app-card>
	<app-card gameCover="assets/bt-bad-company-2.jpg"
	gameLabel="NEW"
	gameType="DIGITAL | PS3 PS4 PS5"
	gamePrice="R$ 100,00"
	></app-card>
	<app-card gameCover="assets/fifa23.jpg"
	gameLabel="DIGITAL"
	gameType="DIGITAL | PS4 PS5"
	gamePrice="R$ 399,99"
	></app-card>
	<app-card gameCover="assets/cod.jpg"
	gameLabel="THE BEST FPS OF YEAR"
	gameType="DIGITAL | PS4 PS5"
	gamePrice="R$ 329,00"
	></app-card>
	<app-card gameCover="assets/ufc.jpg"
	gameLabel="NEW"
	gameType="DIGITAL | PS4 PS5"
	gamePrice="R$358,90"
	></app-card>
	<app-card gameCover="assets/mk1.jpg"
	gameLabel="NEW"
	gameType="DIGITAL | PS4 PS5"
	gamePrice="R$ R$328,93"
	></app-card>
</div>

